<div class="container">
  <div class="contenido">    
      <video poster="../assets/img/cover.png" autoplay playsinline muted loop>
          <source src="../assets/video/background.mp4" type="video/mp4">
      </video>
  </div>  
  
  <div class="row vh-100 d-flex align-items-center">
      <div class="col-lg-6">  
          <div class="text-center">
              <h1 class="display-1 titulo" >Colas y Mordiscos</h1>
              <h5 class="descripcion">Tenemos el mejor servicio para tu mascota. Contamos con personal capacitado con mucha experiencia</h5>                  
          </div>                
      </div>
      <div class="col-lg-6"> 
          <div class="text-center">
              <a href="servicios.html" class="btn btn-primary">Ver Servicios</a>
              <a href="ofertas.html" class="btn btn-primary">Ver Tienda</a>      
          </div>                                       
      </div>
  </div>    
  
</div>
    